<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style1.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 1</title>
</head>
<body>
    <h1>Level 1</h1>

    <div class="calculator-div">
        <div class="inputs">
        <label for="income-1">Income</label>
        <input type="number" id="income-1" name="income-1">
        </div>
        <div class="inputs">
        <label for="expense-1">Expenses</label>
        <input type="number" id="expense-1" name="expense-1">
        </div>
        <button id="calculate">Calculate</button>
        <div class="inputs">
        <label for="profit-1">Gains</label>
        <input type="number" id="profit-1" name="profit-1" readonly>
        </div>
        <button id="clear">Clear</button>

        <script type="module" src="/assets/js/level1.js"></script>
    </div>
</body>

</html>