<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style1.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stupid simple</title>
</head>
<body>
    <header class="header">
        <h1>stupid simple budget</h1>
        <a id="home-anchor" href="/">home</a>
    </header>

    <div class="calculator-div">
        <div class="container-1">
            <div id="incomes">
                <p id="income-label">Income</p>
                <input type="number" class="income-input" name="income-1" min="0">
                <button id="income-btn">+</button>
            </div>

            <div id="expenses">
                <p id="expense-label">Expense</p>
                <input type="number" class="expense-input" name="expense-1" min="0">
                <button id="expense-btn">+</button>
            </div> 
        </div>
        <button id="calculate">Calculate</button>
        <div>     
            <p id="profit-label">Gains</p>
            <input id="profit-1" name="profit-1" readonly="readonly">
        </div>
        <button id="clear">Clear</button>
    </div>
<script type="module" src="/assets/js/level1.js"></script>
</body>

</html>