<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style2.css"/>
    <link rel="icon" type="image/png" href="/assets/feather_icon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic</title>
</head>
<body>
    <header class="header">
        <div class="left-header">
            <img type="image/png" src="/assets/bird.png" style="width:100px;height:100px;"/>
            <h1>feather</h1>
        </div>
        <h1>spending tracker</h1>
        <div class="anchors">
        <a id="home-anchor" href="/">home</a>
        <a id="logout-anchor" href="/verify/logout">logout</a>
        </div>
    </header>
    <div id="expenses-container">
        expenses go here!
    </div>
    <button id="add-expense">add new</button>
    <div id="total-div">
        <p>total spendings:</p>
    </div>
<script type="module" src="/assets/js/level2.js"></script>
</body>
</html>