<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/overview.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overview</title>
</head>
<body>
        <header class="header">
        <div class="left-header">
            <img type="image/png" src="/assets/bird.png" style="width:100px;height:100px;"/>
            <h1>feather</h1>
        </div>
        <h1>incomes</h1>
        <div class="anchors">
        <a id="home-anchor" href="/">home</a>
        <a id="logout-anchor" href="/verify/logout">logout</a>
        </div>
    
    </header>

        <div id="main-container">        
        <a id="second-anchor" href="/display/level2">
            <svg class="icon" viewBox="0 0 24 24">
                <rect x="6" y="12" width="16" height="2" rx="1" ry="1"></rect>
            </svg>
            spending tracker
        </a>
        <a id="third-anchor" href="/display/income">
            <svg class="icon" viewBox="0 0 24 24">
                <rect x="6" y="11" width="16" height="2" rx="1" ry="1"></rect>
                <rect x="13" y="4" width="2" height="16" rx="1" ry="1"></rect>
            </svg>
            incomes
        </a>
    </div>
<select name="filter" id="filter">
  <option value="week">Week</option>
  <option value="month">Month</option>
</select>
    <canvas
        id="myPlotChart">
    </canvas>

    <canvas
        id="myLineChart">
    </canvas>

    <div id="total-div"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script type="module" src="/assets/js/overview.js"></script>
</body>
</html>