<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/settings.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
</head>
<body>
    <header class="header">
        <div id="logos">
            <img type="image/png" src="/assets/bird.png" style="width:100px;height:100px;"/>
            <img id="logo-feather" type="image/png" src="/assets/feather_logo_01.png"/>
        </div>
        <h1>settings</h1>

        <div class="anchors">
            <a id="home-anchor" href="/">home</a>
        </div>
    </header>

    <section class="help-section">
        <h2>
            If you have any questions. Feel free to send us an email at justinsrecallback@gmail.com!
        </h2>
    </section>

    <section class="steps-section">
    <h2>4 quick steps to save the app on iPhone!</h2>

    <div class="steps-container">
        <div class="step">
            <p>Step 1: Open the browser menu.</p>
            <img src="/assets/bookmark/step_1.PNG" alt="Step 1">
        </div>

        <div class="step">
            <p>Step 2: Tap “Add to Home Screen”.</p>
            <img src="/assets/bookmark/step_2.PNG" alt="Step 2">
        </div>

        <div class="step">
            <p>Step 3: Confirm the name.</p>
            <img src="/assets/bookmark/step_3.PNG" alt="Step 3">
        </div>

        <div class="step">
            <p>Step 4: The app is now saved!</p>
            <img src="/assets/bookmark/step_4.PNG" alt="Step 4">
        </div>
    </div>
</section>
</body>
</html>