* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    white-space: nowrap;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFD372;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 4rem;
    flex-wrap: nowrap;
 }

  h1 {
    color: white;
    font-size: 4rem;
 }

 .anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
 .anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }

 button {
    background-color: #F15B42;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    color: white;

    box-shadow: 0px 4px 0px #2C3D73;
 }

 button:hover {
    transform: translateY(-2px);
    background-color: #FFF0C9;
    color: #2C3D73;
}

  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 1rem;
    flex-wrap: nowrap;
    height: 100vh;

    font-size: 1.5rem;
}

 input {
    all: unset;

    background-color: white;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }

 span {
    color: black;
    font-size: 1.5rem;
 }

 .signup-call {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.signup-link {
    background-color: #FFF0C9;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: black; /* change to #2C3D73 */ 
    font-weight: bold;
    box-shadow: 0px 4px 0px #2C3D73;
    transition: transform 0.1s ease-in-out;
}

.signup-link:hover {
    transform: translateY(-2px);
    background-color: #F15B42;
    color: white;
}

 #logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
#logo-feather {
    height: 5rem;
}

 @media (max-width: 480px) {
    .header {
        padding: 1rem;
        min-width: 2rem;
        flex-wrap: wrap;
    }
    .header > p {
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }

    input {
        background-color: white;
        padding: 0.2rem;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        width: 6rem;
    }

    button {
        text-align: center;
        white-space: nowrap;

        padding: 0.5rem;
        border-radius: 4rem;
        font-size: 1rem;
    }

    .signup-call {
        flex-direction: column;      /* stack */
        gap: 0.3rem;
        font-size: 1rem;             /* slightly smaller text */
    }

    .signup-link {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
        width: auto;                 /* keep button natural size */
    }

 }