* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'oswald';
    src: url('/assets/fonts/baloo.regular.ttf');
}

html {
    font-size: 16px;
    background-color: #FFD372;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    white-space: nowrap;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}

.header {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
    flex-wrap: wrap;
 }


 .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }

 h1 {
    color: white;
    font-size: 4rem;
 }
 /* if signed in then this will exist */
 p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
 }

 .anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
 .anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }

 

 #main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    margin: 2rem;
    flex-wrap: nowrap;

    font-size: 2.5rem;
 }

 #main-container > a {
    display: flex;
    flex-direction: column; /* stack icon above text */
    align-items: center;    /* center horizontally */
    justify-content: center;

    background-color: #F15B42;
    padding: 1.5rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    color: white;

    box-shadow: 0px 4px 0px #2C3D73;

}


.icon {
    width: 3rem;
    height: 3rem;
    fill: white; /* normal state */
    margin-right: 0.5rem;

    border-radius: 0.5rem; /* change to 50% for circle */
}

a:hover .icon {
    fill: #2C3D73;
}


#main-container > a:hover {
    background-color: #ffe9b3;
    color: #2C3D73;
}




 /* if signed in then this will exist */
p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
}

.anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
}
.anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}


#myPlotChart {
    background-color: #fef7e6;
    width: 100%;
    height: 100%; 
}

#myLineChart {
    background-color: #fef7e6;
    width: 100%;
    height: 100%; 
}

#chart-filtered {
    background-color: #fef7e6;
    width: 100%;
    height: 100%; 
}

#myPlotChartWrapper {
    text-align: center;
    width: 70%;
    margin: 10px;
    height: 100%; 
}
#myLineChartWrapper {
    text-align: center;
    width: 70%;
    margin: 10px;
    height: 100%; 
}

#chart-filtered-wrapper {
    text-align: center;
    width: 70%;
    margin: 10px;
    height: 100%; 
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}










/* --- CONTROLS WRAPPER --- */
#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
    font-size: 2rem;
}


/* --- CURRENT TEXT --- */
#controls .current {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
}


/* --- PREV / NEXT BUTTONS --- */
#previous, 
#next {
    background-color: #F15B42;
    color: white;
    font-size: 2rem;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 0px #2C3D73;
    cursor: pointer;
}

#previous:hover,
#next:hover {
    background-color: #ffe9b3;
    color: #2C3D73;
}


/* --- FILTER DROPDOWN (Week / Month) --- */
#filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: 1.5rem;
    padding: 0.8rem 3rem 0.8rem 1rem; /* extra right padding for big arrow */
    border-radius: 2rem;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 0px #2C3D73;
    cursor: pointer;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1.5rem; /* size of arrow */
    background-position: right 1rem center; /* position of arrow */
}

#filter:focus {
    outline: none;
}









@media (max-width: 480px) {
    .header {
        padding: 10px;
        flex-wrap: wrap;
        background-color: #FFD372;
        justify-content: center;
        min-width: 2rem;
    }
    #main-container {
        font-size: .5rem;
        justify-content: flex-start;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1.5rem;
        padding: 2rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }





    #main-container {
        font-size: .5rem;
        justify-content: center;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }
    .icon {
      width: 1rem;
      height: 1rem;
    }


    #chart-filtered-wrapper{
        width: 95%;
        height: 60vh;
    }

    #myPlotChartWrapper{
        width: 95%;
        height: 60vh;
    }

    #myLineChartWrapper{
        width: 95%;
        height: 60vh;
    }

    #chart-filtered {
        width: 100%;
        height: 100%; 
    }

    #myPlotChart {

        width: 100%;
        height: 100%; 
    }

    #myLineChart {
        width: 100%;
        height: 100%; 
    }



    #controls {
        gap: 0.7rem;
        font-size: 1.2rem;
    }

    #controls .current {
        font-size: 1.4rem;
    }

    #previous, 
    #next {
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
    }

    #filter {
        font-size: 1.2rem;
        padding: 0.6rem 2.2rem 0.6rem 0.8rem;
        background-size: 1.2rem;
        background-position: right 0.7rem center;
    }

}





