* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    background-color: #FFD372;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    white-space: nowrap;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 4rem;
    flex-wrap: nowrap;
}

.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: white;
    font-size: 4rem;
}
 /* if signed in then this will exist */
p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
}

.anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
}
.anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}


#myPlotChart {
    background-color: #fef7e6;
    width: 90%;
    height: 40%;
    margin: 10px;
}

#myLineChart {
    background-color: #fef7e6;
    width: 90%;
    height: 40%;
}

