* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'oswald';
    src: url('/assets/fonts/baloo.regular.ttf');
}

html {
    font-size: 16px;
    background-color: #FFD372;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    white-space: nowrap;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}

.header {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
    flex-wrap: wrap;
 }


 .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }

 h1 {
    color: white;
    font-size: 4rem;
 }
 /* if signed in then this will exist */
 p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
 }

 .anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
 .anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }

 

 #main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    margin: 2rem;
    flex-wrap: nowrap;

   

    font-size: 2.5rem;
 }

 #main-container > a {
    display: flex;
    flex-direction: column; /* stack icon above text */
    align-items: center;    /* center horizontally */
    justify-content: center;

    background-color: #F15B42;
    padding: 1.5rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
    color: white;

    box-shadow: 0px 4px 0px #2C3D73;

}


.icon {
    width: 3rem;
    height: 3rem;
    fill: white; /* normal state */
    margin-right: 0.5rem;

    border-radius: 0.5rem; /* change to 50% for circle */
}

a:hover .icon {
    fill: #2C3D73;
}


#main-container > a:hover {
    background-color: #ffe9b3;
    color: #2C3D73;
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
        flex-wrap: wrap;
        background-color: #FFD372;
        justify-content: center;
        min-width: 2rem;
    }
    #main-container {
        font-size: .5rem;
        justify-content: flex-start;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1.5rem;
        padding: 2rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }





    #main-container {
        font-size: .5rem;
        justify-content: center;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }
    .icon {
      width: 1rem;
      height: 1rem;
    }
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}




 /* if signed in then this will exist */
p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
}

.anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
}
.anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}


#myPlotChart {
    background-color: #fef7e6;
    width: 90%;
    height: 40%;
    margin: 10px;
}

#myLineChart {
    background-color: #fef7e6;
    width: 90%;
    height: 40%;
}
