* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'oswald';
    src: url('/assets/fonts/baloo.regular.ttf');
}

html {
    font-size: 16px;
    background-color: #FFD372;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}



body {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}

.header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 4rem;
    flex-wrap: nowrap;
 }

 .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }

 h1 {
    color: white;
    font-size: 4rem;
 }
 /* if signed in then this will exist */
 p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
 }

 .anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
 .anchors > a {
    z-index: 2;
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }

 
 #main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    background-color: #FFD372;
    max-width: 60%;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 0.5rem;
    flex-wrap: wrap;
    font-size: 2.5rem;
    gap: 0.5rem;
 }

 #main-container > a {
    display: flex;
    flex-direction: column; /* stack icon above text */
    align-items: center;    /* center horizontally */
    justify-content: center;

    background-color: #F15B42;
    padding: 1rem;
    border-radius: 3rem;
    font-size: 1.5rem;

    margin-left: 0.3rem;
    color: white;

    box-shadow: 0px 4px 0px #2C3D73;
    z-index: 10;

    max-width: 100%;

}


.icon {
    width: 3rem;
    height: 3rem;
    fill: white; /* normal state */
    margin-right: 0.5rem;

    border-radius: 0.5rem; /* change to 50% for circle */
}

a:hover .icon {
    fill: #2C3D73;
}

a:hover .label {
    background-color: #FFE3A3;
    color: #2C3D73;
}

#main-container > a:hover {
    background-color: #FFF0C9;
    color: #2C3D73;
}

#img_1 {
    position: absolute;
    top: 10%;
    left: 2%;

    width: 350px;
    animation: float 4s ease-in-out infinite;
    z-index: 0;
}

#img_2 {
    position: absolute;

    width: 450px;
    animation: float 4s ease-in-out infinite;
    top: 15%;
    right: -12%;
    z-index: 0;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 12px;
    text-align: center;
    background: #ffe9b3;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}
#footer > * {
    font-size: 2rem;
    color:#2C3D73;
    
}

#insta-link {
    color: #F15B42;
}

.label {
    background-color: #D44F38;
    border-radius: 1.5rem;
    color: white;
    padding: .5rem;
}

.description {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
 
    
}

@media (max-width: 1350px) {
    #img_1 {
        top: -50%;
           z-index: -20;
    }
    #img_2 {
        top: -50%;
        z-index: -20;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
        flex-wrap: wrap;
        background-color: #FFD372;
        justify-content: center;
        min-width: 2rem;
    }
    #main-container {
        max-width: 90%;
        font-size: .5rem;
        justify-content: center;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem;

        border-radius: 1.5rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }

    .icon {
    width: 1rem;
    height: 1rem;
    }

    #footer > * {
        font-size: 1rem;
    }





}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}