* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

.header {
    border-style: solid;
    border-color: #3b3b3b;
    border-width: .2rem;

    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }