* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: beige;
    margin: 10px;
    width: 90%;
    padding: 10px;

    border-style: solid;
    border-color: #3b3b3b;
    border-width: .2rem;
}

.calculator-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;


    background-color: beige;
    padding: 10px;

    font-size: 1.5rem;

    height: 100vh;

    border-style: solid;
    border-color: #3b3b3b;
    border-width: .2rem;
}

#inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
