* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FFD372;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    white-space: nowrap;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD372;
    width: 100vw;
    box-sizing: border-box;
    padding: 4rem;
    flex-wrap: nowrap;
}

 h1 {
    color: white;
    font-size: 4rem;
 }
 /* if signed in then this will exist */
 p {
    color: white;
    font-size: 3rem;
    white-space: nowrap;
 }

 .anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px;
 }
 .anchors > a {
    background-color: white;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 0.3rem;
 }





.calculator-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;


    background-color: #FFD372;
    padding: 10px;

    font-size: 1.5rem;

    height: 100vh;


}

.container-1 {
    text-align: center;
    display: flex;
    flex-direction: row;
}

#incomes {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#expenses {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 480px) {
    .header {
        padding: 10px;
        flex-wrap: wrap;
        background-color: #FFD372;
        justify-content: center;
        min-width: 2rem;
    }
    #main-container {
        font-size: .5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #main-container > a {
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.7rem;
    }
    .anchors > a {
        font-size: 1rem;
        padding: 0.7rem;
    }
}