* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
    width: 90%;
    gap: 5px;

    background-color: beige;
    padding: 10px;

    font-size: 1.5rem;
 
}

.calculator-div > * {
    color: green;
    width: 50%;
}

button {
    background-color: lightgreen;
    border-width: .5px;
    height: 3rem;
    font-size: 1.4rem;
}
input { 
    background-color: white;
    border-width: .5px;
    height: 3rem;
    font-size: 1.4rem;
    text-align: center;
}